/*GENERAL*/

:root {
    --pink: #FFBDCA;
    --red: #E80000;
    --lightpink: #FFDCE3;
    --offwhite: #FFF6F8;

    /*alternate color scheme*/

    --gray: #D6D6D6;
    --blue: #004080;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    background-color: var(--pink);
    font-size: 16px;
}

img {
    max-width: 100%;
}

/*HEADER*/

header {
    background-color: var(--pink);
    border-bottom: 3px solid var(--red);
    font-family: neue-haas-grotesk-display, sans-serif;
    height: 6rem;
    position: fixed;
    width: 100%;
    z-index: 4;
}

#logo {
    display: block;
    float: left;
    padding: 2rem 0 2rem 1.5rem;
}

#logo a {
    color: var(--red);
    font-size: clamp(1.5rem, 9vw, 2rem);
    font-weight: 700;
    text-decoration: none;
}

/*logo shows after scrolling height of window*/
.show {
    opacity: 1;
    transition: .5s;
}

/*logo is hidden by default and until height of window is scrolled*/
.hide {
    opacity: 0;
    pointer-events: none;
}

/*NAVIGATION*/

#hamburger {
    cursor: pointer;
    float: right;
    padding: 1.9rem 1.5rem 2rem 0;
    position: relative;
    width: 3rem;
    transition: .3s;
}

#hamburger:hover {
    opacity: 30%;
}

#menu {
    backdrop-filter: blur(10px);
    font-family: neue-haas-grotesk-display, sans-serif;
    margin-top: -150%;
    position: fixed;
    top: 6rem;
    width: 100%;
    z-index: 3;
    transition: .5s;
}

#menu a {
    background-color: #ffbdcac5;
    border-bottom: 3px solid var(--red);
    color: var(--red);
    display: flex;
    font-size: 2em;
    font-weight: 700;
    height: 100px;
    place-content: center;
    place-items: center;
    text-decoration: none;
    transition: .3s;
}

#menu a:hover {
    color: var(--lightpink);
}

#menu .links-out {
    background-color: #e80000c5;
    padding: 20px;
    text-align: center;
}

#menu .links-out .button {
    background-color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 100%;
    color: var(--red);
    display: inline-flex;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1em;
    font-weight: 700;
    height: 75px;
    margin: 15px;
    place-content: center;
    place-items: center;
    text-decoration: none;
    transition: .3s;
    width: 75px;
}

#menu .links-out .button img {
    height: 50%;
    width: 50%;
}

#menu .links-out .button:hover {
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--pink)
}

.out {
    margin-top: 0 !important;
    transition: .5s;
}

/*HOMEPAGE - GENERAL*/

#home-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
}

#home-grid .anchor {
    display: block;
    position: absolute;
    top: -6rem;
    visibility: hidden;
}

#home-grid section {
    height: calc(100vh - 6rem);
    scroll-snap-align: end;
}

#home-grid section:nth-child(even) {
    background-color: var(--red);
}

.anchor {
    display: block;
    top: -6rem;
    visibility: hidden;
}

/*HOMEPAGE - TOP*/

#top {
    display: grid;
    gap: 40px;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 40px;
    margin-top: 6rem;
}

#top .content {
    grid-row: 1;
    position: relative;
    text-align: center;
}

#top h1 {
    color: var(--red);
    font-family: funkydori, cursive;
    font-size: clamp(3rem, 18vw, 5rem);
    white-space: nowrap;
}

#top #title {
    color: black;
    display: block;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: clamp(.8rem, 6vw, 1.8rem);
    letter-spacing: .5px;
    margin-top: -4.5rem;
}

#top .media {
    grid-row: 2;
    height: 100%;
}

#top figure {
    border: 7px solid var(--red);
    border-radius: 500px 500px 0 0;
    box-sizing: border-box;
    height: 90%;
    margin: 0 auto;
    max-width: 25rem;
    width: 80%;
}

#top figure img {
    border-radius: 500px 500px 0 0;
    filter: grayscale(100%);
    height: 50vh;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
    transition: .3s;
}

#top figure img:hover {
    filter: none;
}

#top .links-out {
    margin: 10% 0 0% 0;
}

#top .links-out .button {
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 100%;
    display: inline-flex;
    height: 10vh;
    margin: 0 .5rem;
    max-height: 4rem;
    max-width: 4rem;
    place-content: center;
    place-items: center;
    width: 10vh;
}

#top .links-out .button:hover {
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--pink);
    transition: .2s;
}

#top .links-out img {
    height: 4vh;
    max-height: 2rem;
    max-width: 2rem;
    width: 4vh;
}

#top::after {
    background-color: var(--red);
    bottom: 0;
    content: "";
    display: block;
    height: 50%;
    max-height: 35vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

/*HOMEPAGE - ABOUT*/

#about {
    color: var(--lightpink);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-row: 2;
    font-family: neue-haas-grotesk-display, sans-serif;
    letter-spacing: 1px;
    place-items: center;
    position: relative;
}

#about h2 {
    font-size: clamp(2rem, 8vh, 4rem);
    grid-row: 1;
    padding: 25px 20px 0 20px;
    text-align: center;
}

#about .bio {
    background-color: #ffbdca83;
    color: black;
    font-size: 1.2em;
    grid-row: 2;
    height: 80%;
    margin: 0 40px;
    overflow: auto;
    padding: 15px 30px;
}

#about figure {
    border: 5px solid var(--red);
    border-radius: 0 0 500px 500px;
    box-sizing: border-box;
    display: none;
    height: 45vh;
    margin: 20px auto;
    width: 27rem;  
}

#about img {
    background-color: #000;
    border-radius: 0 0 500px 500px;
    box-sizing: border-box;
    filter: grayscale(100%);
    height: 100%;
    object-fit: cover;
    transition: .3s;
    width: 100%;
}

#about img:hover {
    filter: none;
}

/*HOMEPAGE - WORK*/

#work {
    color: var(--red);
    display: grid;
    font-family: neue-haas-grotesk-display, sans-serif;
    grid-row: 3;
    grid-template-columns: 100%;
    grid-template-rows: 10% 75% 10%;
    padding: 0 25px;
    place-items: center;
    position: relative;
}

#work h2 {
    align-self: end;
    font-size: 2em;
    grid-row: 1;
    justify-self: center;
    padding-top: 20px;
}

#work #featured-work {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 50px;
    grid-row: 2;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 50px;
    place-items: center;
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory;
    min-width: 20em;
    width: 90%;
}

#work #featured-work .feature {
    align-self: center;
    align-items: center;
    border: 2px solid var(--red);
    display: grid;
    flex: none;
    flex-direction: column;
    grid-template-rows: 15% 35% 35% 15%;
    height: 90%;
    scroll-snap-align: center;
    max-width: 25rem;
    min-width: 16em;
    text-align: center;
    width: 125%;
}

#work #featured-work .feature h3 {
    grid-row: 1;
    text-align: center;
}

.feature a {
    height: 100%;
}

#work #featured-work .feature img {
    filter: grayscale(100%);
    grid-row: 2;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    transition: .3s;
    width: 90%;
}

#work #featured-work .feature img:hover {
    filter: none;
}

#work #featured-work .feature p {
    color: black;
    height: 100%;
    overflow: auto;
    margin: 1rem;
    place-self: start;
    text-align: left;
    z-index: 2;
}

#work #featured-work .feature .tags {
    align-self: end;
    font-size: .7em;
    font-weight: 700;
    padding: 1rem;
    text-align: left;
}

#work .button2 {
    align-self: end;
    grid-row: 3;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 35px;
    color: var(--lightpink) !important;
    display: block;
    font-size: 16pt;
    font-weight: 700;
    justify-self: center;
    padding: 8px 40px;
    width: fit-content;
    text-decoration: none;
    transition: .3s;
}

#work .button2:hover {
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--pink) !important;
}

#work .arrows {
    position: absolute;
    width: 100%;
}

#work .arrow {
    color: var(--red);
    font-family: sans-serif;
    font-size: 4em;
    padding: 2rem 1rem;
    transition: .3s;
}

#work .arrow:hover {
    color: var(--lightpink);
    cursor: pointer;
}

#work #left {
    float: left;
}
#work #right {
    float: right;
}

.arrow-not-used {
    opacity: .2;
}

.arrow-not-used:hover {
    color: var(--red) !important;
    cursor: default !important;
}

/*HOMEPAGE - CONTACT*/

#contact {
    display: flex;
    flex-direction: column;
    font-family: neue-haas-grotesk-display, sans-serif;
    gap: 5%;
    grid-row: 4;
    height: 100%;
    letter-spacing: 1px;
    place-content: center;
    place-items: center;
    padding: 0 !important;
    position: relative;
    margin: 0 !important;
    width: 100%;
}

#contact p {
    background-color: var(--pink);
    color: black;
    font-size: clamp(1.2em, 5vw, 2em);
    font-weight: 700;
    height: fit-content;
    line-height: 1.5em;
    padding: 30px;
    text-align: center;
    width: 70%;
}

#contact p a:first-of-type {
    color: var(--red);
    transition: .3s;
}

#contact p a:hover {
    color: var(--lightpink);
}

#contact .button2 {
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 35px;
    color: var(--lightpink) !important;
    display: block;
    font-size: 16pt;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 auto;
    margin-top: 30px;
    padding: 8px 40px;
    width: fit-content;
    text-decoration: none;
    transition: .3s;
}

#contact .button2:hover {
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--pink) !important;
}

#contact .links-out .button {
    background-color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 100%;
    display: inline-flex;
    height: 4rem;
    margin: 2rem .6rem 0 .6rem;
    place-content: center;
    place-items: center;
    transition: .3s;
    width: 4rem;
}

#contact .links-out .button img {
    height: 2.5rem;
    width: 2.5rem;
    transition: .3s;
}

#contact .links-out .button:hover {
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--pink);
}

#contact .links-out .button:hover img {
    opacity: 15%;
}

/*PORTFOLIO PAGE*/

#portfolio {
    align-items: center;
    box-sizing: border-box;
    color: var(--red);
    display: flex;
    flex-direction: column;
    font-family: neue-haas-grotesk-display, sans-serif;
    height: calc(100vh - 6rem);
    overflow: auto;
    position: absolute;
    scroll-snap-type: y mandatory;
    top: 6rem;
    width: 100%;
}

#portfolio h1 {
    font-size: 2em;
    padding-top: 2rem;
}

#portfolio .port-card {
    border: 3px solid var(--red);
    height: 45rem;
    margin: 2rem;
    max-height: 80%;
    max-width: 25rem;
    scroll-snap-align: center;
    width: 70%;
}

#portfolio .port-card:first-of-type {
    scroll-snap-align: end;
}

#portfolio .port-card:last-of-type {
    margin-bottom: 15%;
}

#portfolio .port-card h3 {
    font-size: 1.3em;
    padding: 20px 20px 0 20px;
    text-align: center;
}

#portfolio .port-card img {
    display: block;
    filter: grayscale(100%);
    object-fit: cover;
    margin: 15px auto;
    max-height: 10rem;
    max-width: 20rem;
    transition: .3s;
    width: 90%;
    height: 40vw;
}

#portfolio .port-card img:hover {
    filter: none;
    transition: .3s;
}

#portfolio .port-card p {
    font-size: 1em;
    text-align: justify;
    height: 20vh;
    overflow: auto;
    padding: 0 20px;
}

#portfolio .port-card .tags {
    bottom: 0;
    display: block;
    font-size: 1em;
    font-weight: 700;
    padding: 20px;
    position: relative;
}

/*WORK*/

#details {
    background-color: var(--lightpink);
    box-sizing: border-box;
    color: black;
    font-family: neue-haas-grotesk-display, sans-serif;
    height: fit-content;
    letter-spacing: 1px;
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
    top: 6rem;
}

#details h1 {
    font-size: 2rem;
    text-align: center;
}

#details .date {
    display: block;
    font-size: .8em;
    font-weight: 700;
    margin: 1rem 0;
    text-transform: uppercase;
}

#details p {
    margin: 1rem 0 0 0;
}

#details .buttons {
    text-align: center;
    white-space: nowrap;
}

#details .button2 {
    align-self: end;
    grid-row: 3;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 35px;
    color: var(--lightpink) !important;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    justify-self: center;
    margin: 2rem 1.5vw;
    max-width: 6rem;
    padding: 8px 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    width: 20vw;
}

#details .button2:hover {
    background-color: var(--offwhite);
    border: 1px solid var(--lightpink);
    color: var(--pink) !important;
}

#details .tags {
    display: block;
    font-size: .9em;
    font-weight: 700;
}

#overview {
    font-family: neue-haas-grotesk-display, sans-serif;
    height: fit-content;
    margin: 0 auto;
    max-width: 700px;
    padding: 0 2rem .1rem 2rem;
    position: relative;
    top: 6rem;
}

#overview figure:first-of-type {
    margin: 2.5rem 0 1rem 0;
}

#overview figure img {
    border: 2px solid var(--red);
}

#overview figure figcaption {
    color: #00000096;
    flex-basis: 100%;
    font-size: .9rem;
    font-weight: 700;
    padding: 1rem 0 2rem 0;
    text-align: center;
}

#overview h2 {
    color: var(--red);
    font-size: 3em;
    padding: 2rem 0;
    text-align: center;
}

#overview h3 {
    padding: 0 0 1rem 0;
}

#overview p {
    margin-bottom: 2rem;
}

#overview .research {
    display: flex;
    flex-wrap: wrap;
}

.work-container {
    position: absolute;
    width: 100%;
}

.wireframe {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.wireframe img {
    margin: 1%;
    max-width: 12rem;
    width: 24vw;
}

.mockup {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.mockup img {
    margin: .5rem;
    width: 40%;
}

.mockup iframe {
    background-color: #ffffff;
    border: 2px solid var(--red);
    height: 32rem;
    width: 15rem;
}

.mockup2 {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    place-items: center;
}

footer {
    background-color: var(--red);
    box-sizing: border-box;
    bottom: 0rem;
    display: flex;
    height: 10rem;
    place-content: center;
    place-items: center;
    position: relative;
    top: 4rem;
}

footer .links-out .button {
    background-color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 100%;
    display: inline-flex;
    height: 4rem;
    margin: 0 .6rem;
    place-content: center;
    place-items: center;
    transition: .3s;
    width: 4rem;
}

footer .links-out .button img {
    height: 2.5rem;
    width: 2.5rem;
    transition: .3s;
}

footer .links-out .button:hover {
    background-color: var(--lightpink);
    border: 1px solid var(--lightpink);
    color: var(--pink);
}

footer .links-out .button:hover img {
    opacity: 15%;
}

/*MEDIA - SHORT MOBILE SCREENS*/

@media (max-height: 737px) {
    
    /*HOMEPAGE - TOP*/
    
    #top {
        gap: 10px;
    }

    #top #title {
        margin-top: -4rem;
    }

    #top .links-out {
        margin-top: 1rem;
    }

    /*HOMEPAGE - ABOUT*/

    #about .bio {
        background-color: #ffbdca83;
        font-size: 1rem;
        text-align: left;
        height: 70%;
    }

    /*HOMEPAGE - WORK*/
    
    @media (max-height: 575px) {

        #work h2 {
            font-size: 1.5em;
        }

        #work #featured-work .feature {
            max-width: 15rem;
            min-width: 15rem;
        }

        #work #featured-work .feature img {
            max-height: 110px !important;
        }

        #work .arrow {
            padding: 2rem .5rem;
        }

    }

    #work #featured-work .feature img {
        max-height: 160px;
    }

    #work #featured-work .feature p {
        max-height: 85%;
    }

    /*HOMEPAGE - CONTACT*/

    #contact {
        gap: 0;
    }

    #contact p {
        font-size: clamp(1em, 5vw, 1.8em);
    }

}

@media (min-width: 600px) {

    /*HOMEPAGE - ABOUT*/

    #about {
        grid-template-rows: 18% 40% 40%;
    }

    #about h2 {
        font-size: clamp(1rem, 9vw, 3rem);
        height: 40%;
        padding: 10rem 0;
        place-self: center;
    }

    #about figure {
        border: 7px solid var(--pink);
        display: block;
        grid-row: 2;
        height: 100%;
        max-width: 18rem;
        place-self: center;
    }

    #about .bio {
        grid-row: 3;
        height: 70%;
        margin: 0 4rem;
        max-width: 45rem;
        place-self: center;
    }

    /*HOMEPAGE - wORK*/

    #work {
        grid-template-rows: 12% 75% 13%;
    }

    #work h2 {
        align-self: center;
        font-size: clamp(2em, 8vw, 2em);
    }

    #work #featured-work {
        align-self: center;
        gap: 2rem;
        height: 100%;
        padding: 0;
        width: 80%;
    }

    #work #featured-work .feature {
        font-size: 1rem;
        grid-template-rows: 15% 35% 40% 10%;
        height: 95%;
        width: 15rem;
        margin: 0 auto;
    }

    #work #featured-work .feature h3 {
        font-size: clamp(1em, 5vw, 1.2em);
    }

    #work #featured-work .feature img {
        grid-row: 2;
        width: 87%;
    }

    #work #featured-work .feature p {
        align-self: start;
        display: block;
        grid-row: 3;
        height: 100%;
        margin: 1rem;
    }

    #work #featured-work .feature .tags {
        align-self: end;
        font-size: .8rem;
    }

    #work .button2 {
        align-self: center;
    }

    #work .arrow {
        font-size: 10em;
        padding: 2rem 3rem;
    }
}

@media (min-width: 600px) and (min-height: 800px) {

    /*HOMEPAGE - TOP*/

    #top {
        flex-direction: column;
        gap: 0px;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }

    #top .content {
        margin-top: -1rem;
    }

    #top h1 {
        font-size: clamp(4em, 20vw, 9em);
    }

    #top #title {
        font-size: clamp(2em, 20vw, 3em);
        margin-top: -20%;
    }

    #top .links-out {
        margin: 5%;
    }

    #top .links-out .button {
        margin: 0 .8rem;
    }

    #top figure {
        width: 28rem;
    }

    /*HOMEPAGE - ABOUT*/

    #about {
        grid-template-rows: 18% 40% 40%;
    }

    #about h2 {
        font-size: clamp(1rem, 9vw, 3.8rem);
        height: 40%;
        padding: 10rem 0;
        place-self: center;
    }

    #about figure {
        border: 7px solid var(--pink);
        display: block;
        grid-row: 2;
        height: 100%;
        max-width: 25rem;
        place-self: center;
    }

    #about .bio {
        grid-row: 3;
        height: 70%;
        margin: 0 4rem;
        max-height: 18rem;
        place-self: center;
    }

    /*HOMEPAGE - wORK*/

    #work {
        grid-template-rows: 12% 75% 13%;
    }

    #work h2 {
        align-self: center;
        font-size: clamp(2em, 8vw, 3em);
    }

    #work #featured-work {
        align-self: center;
        gap: 5rem;
        height: 100%;
        padding: 0 12rem;
    }

    #work #featured-work .feature {
        font-size: 1.2rem;
        grid-template-rows: 15% 35% 40% 10%;
        height: 95%;
        min-width: 23rem;
        width: 30rem;
        max-width: 30rem;
    }

    #work #featured-work .feature h3 {
        font-size: clamp(1em, 5vw, 2em);
    }

    #work #featured-work .feature img {
        grid-row: 2;
        width: 87%;
    }

    #work #featured-work .feature p {
        align-self: start;
        display: block;
        grid-row: 3;
        height: 100%;
        margin: 1rem 2rem;
    }

    #work #featured-work .feature .tags {
        align-self: end;
        font-size: 1rem;
        margin: 0 1rem;
    }

    #work .button2 {
        align-self: center;
        margin-top: 1rem;
    }

}

@media (min-width: 800px) {

        /*NAVIGATION*/

        #hamburger {
            display: none;
        }
    
        #menu {
            margin: 0;
            backdrop-filter: none;
            position: fixed;
            right: 2rem;
            top: 0;
            width: fit-content;
            z-index: 4;
        }
    
        #menu .menu-item {
            background-color: var(--red);
            border: 1px solid var(--red);
            border-radius: 50px;
            color: var(--lightpink);
            display: inline-block;
            font-size: 1.5rem;
            height: fit-content;
            padding: 5px;
            text-align: center;
            width: 8.5rem;
            margin: 1.8rem 0 1.5rem 2rem;
        }
    
        #menu .menu-item:hover {
            background-color: var(--lightpink);
            border: 1px solid var(--lightpink);
            color: var(--pink);
        }
    
        #menu .links-out {
            display: none;
        }

        #work #featured-work {
            width: fit-content;
            max-width: 100%;
        }

        /*PORTFOLIO PAGE*/

        #portfolio {
            box-sizing: border-box;
            color: var(--red);
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            height: fit-content;
            overflow: auto;
            justify-content: center;
            margin: 0 auto;
            padding-bottom: 35px;
            width: 100%;
        }
        
        #portfolio h1 {
            font-size: 2em;
            padding-top: 0;
            margin: 35px 0 0 0;
            text-align: center;
            width: 100%;
        }
        
        #portfolio .port-card {
            height: 28rem;
            width: 18rem;
            max-width: 18rem;
            min-width: 18rem;
        }
        
        #portfolio .port-card:last-of-type {
            margin-bottom: auto;
        }
        
}

@media (hover: hover) {
    #work .arrows {
        display: none;
    }
}

@media (min-width: 1025px) and (orientation: landscape) {
    
    /*HEADER*/

    header {
        padding: 0 4rem;
    }

    /*NAVIGATION*/

    #menu {
        right: 4rem;
    }
    
    /*HOMEPAGE - GENERAL*/

    .anchor2 {
        display: block;
        top: 0rem !important;
        visibility: hidden;
    }
    
    /*HOMEPAGE - TOP*/

    #top {
        gap: 0;
        grid-template-columns: 38rem auto;
        grid-template-rows: 100%;
    }

    #top .media {
        grid-column: 1;
        grid-row: 1;
        height: calc(100% + 6rem);
        margin-top: -4rem;
        z-index: 5;
        justify-self: center;
    }

    #top figure {
        max-width: 30rem;
        width: 100%;
    }

    #top figure img {
        height: 100%;
    }

    #top .content {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
        justify-self: center;
        margin-right: 6vw;
        margin-top: 3rem;
        width: fit-content;
    }

    #top h1 {
        font-size: clamp(2rem, 8vw, 8rem);
        margin-bottom: -1em;
    }

    #top::after {
        height: 27vh;
    }

    /*HOMEPAGE - ABOUT*/

    #about {
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 80%;
        padding-top: 6rem;
    }

    #about figure {
        grid-column: 2;
        grid-row: 1 / span 2;
        height: 80%;
        min-width: 60%;
    }

    #about h2 {
        align-self: end;
        font-size: clamp(2rem, 4vw, 5rem);
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
        padding: 0;
        text-align: right;
        width: fit-content;
    }

    #about .bio {
        align-self: center;
        box-sizing: border-box;
        font-size: 1.3em;
        grid-column: 1;
        grid-row: 2;
        justify-self: end;
        margin: 0;
        padding: 1rem 2rem;
        text-align: right;
        width: 85%;
    }
    
    /*HOMEPAGE - WORK*/

    #work #featured-work {
        width: fit-content;
    }

    #work #featured-work .feature {
        margin: 1rem;
        max-width: 20rem;
        min-width: 15rem;
        width: 25vw;
    }

    #work .arrows {
        display: none;
    }

    /*WORK*/

    .work-container {
        display: grid;
        grid-template-columns: 25vw 1fr;
        grid-template-rows: auto auto;
    }

    #details {
        box-sizing: border-box;
        grid-column: 1;
        grid-row: 1 / span 2;
        height: calc(100vh - 6rem);
        overflow: auto;
        padding: 2rem 1rem;
        position: fixed;
        width: 25vw;
    }

    #details .button2 {
        display: block;
        margin: 2rem auto;
    }

    #details .tags {
        padding: 0 1rem 0 0;
    }

    #overview {
        grid-column: 2;
        grid-row: 1;
        height: 100%;
        max-width: 650px;
        width: 100%;
    }

    footer {
        grid-column: 2;
        grid-row: 2;
    }

}

@media (min-width: 1325px) and (orientation: landscape) {
    
    /*NAVIGATION*/

    #menu .menu-item {
        margin-left: 2rem;
        width: 11rem;
    }

    /*HOMEPAGE - TOP*/

    #top .media {
        justify-self: end;
    }

    /*WORK*/

    #overview {
        max-width: 750px;
    }
}