/*Portfolio CSS - default is mobile sizing*/

/*-----GENERAL-----*/

:root {

    /*main color scheme*/

    --gray: #D6D6D6;
    --blue: #004080;
    --white: #ffffff;
    --black: #000000;

    /*secondary colors*/

    --darkgray: #adadad;
    --lightblue: #16518b;

    /*alternate color scheme*/

    --pink: #FFBDCA;
    --red: #E80000;
    --lightpink: #FFDCE3;
    --offwhite: #FFF6F8;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--gray);
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 16px;
    letter-spacing: 1px; /*gives chosen font better spacing for legibility*/
}

/*circular buttons - for links out (light and dark color schemes)*/

.round-button-light {
    background-color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 100%;
    color: var(--blue);
    display: inline-flex;
    height: 4.5rem;
    margin: .5rem;
    place-content: center;
    place-items: center;
    transition: .3s;
    width: 4.5rem;
}

.round-button-light:hover {
    background-color: var(--white);
    border: 1px solid var(--white);
}

.round-button-dark {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 100%;
    display: inline-flex;
    height: 4.5rem;
    margin: 0 .5rem;
    place-content: center;
    place-items: center;
    transition: .3s;
    width: 4.5rem;
}

.round-button-dark:hover {
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--gray);
    transition: .2s;
}

.round-button-light img,
.round-button-dark img {
    height: 50%;
    width: 50%;
}

/*rounded rectangular buttons (one color scheme for these)*/

.wide-button {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 35px;
    color: var(--white);
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem auto;
    padding: 8px 40px;
    width: fit-content;
    text-decoration: none;
    transition: .3s;
}

.wide-button:hover {
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--gray);
}

/*-----HEADER/LOGO-----*/

header {
    background-color: var(--gray);
    border-bottom: 3px solid var(--blue);
    height: 6rem;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 4;
}

#logo {
    display: block;
    float: left;
    padding: 2rem 0 2rem 1.5rem;
}

#logo a {
    color: var(--blue);
    font-size: clamp(1.5rem, 9vw, 2rem);
    font-weight: 700;
    text-decoration: none;
}

/*JS class - logo shows after scrolling height of window*/

.show {
    opacity: 1;
    transition: .5s;
}

/*JS class - logo is hidden by default and until height of window is scrolled*/

.hide {
    opacity: 0;
    pointer-events: none;
}

/*-----NAVIGATION-----*/

#hamburger {
    cursor: pointer;
    float: right;
    padding: 1.9rem 1.5rem 2rem 0;
    position: relative;
    width: 3rem;
    transition: .3s;
}

#menu {
    font-family: neue-haas-grotesk-display, sans-serif;
    margin-top: -150%;
    position: fixed;
    top: 6rem;
    width: 100%;
    z-index: 3;
    transition: .5s;
}

.menu-item {
    background-color: var(--gray);
    border-bottom: 3px solid var(--blue);
    color: var(--blue);
    display: flex;
    font-size: 2em;
    font-weight: 700;
    height: 6rem;
    place-content: center;
    place-items: center;
    text-decoration: none;
    transition: .3s;
}

.menu-item:hover {
    background-color: var(--darkgray);
    border: none;
    border-bottom: 3px solid var(--blue);
    color: var(--blue);
}

#menu .links-out {
    background-color: var(--blue);
    padding: 20px;
    text-align: center;
}

#menu .round-button-light {
    margin: 1rem;
}

/*JS class - menu slides out from top on mobile/smaller tablets*/

.out {
    margin-top: 0 !important;
    transition: .5s;
}

/*-----HOMEPAGE - GENERAL-----*/

#home-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
}

#home-grid section {
    height: calc(100vh - 6rem);
}

#home-grid section:nth-child(even) {
    background-color: var(--blue);
}

#home-grid .anchor {
    display: block;
    position: absolute;
    top: -6rem;
    visibility: hidden;
}

#home-grid img {
    filter: grayscale(100%);
    transition: .3s;
}

#home-grid img:hover {
    filter: none;
}

.links-out img {
    filter: none !important; 
}

/*-----HOMEPAGE - TOP-----*/

#top {
    display: grid;
    gap: 40px;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr 40px;
    margin-top: 6rem;
}

#top .content {
    grid-row: 1;
    text-align: center;
}

#top h1 {
    color: var(--blue);
    font-family: funkydori, cursive;
    font-size: clamp(3rem, 18vw, 5rem);
    white-space: nowrap;
}

#top #title {
    color: var(--black);
    display: block;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: clamp(.8rem, 6vw, 1.8rem);
    letter-spacing: .5px;
    margin-top: -5rem;
}

#top figure {
    border: 7px solid var(--blue);
    border-radius: 500px 500px 0 0;
    box-sizing: border-box;
    grid-row: 2;
    height: 90%;
    margin: 0 auto;
    max-width: 25rem;
    width: 80%;
}

#top figure img {
    border-radius: 500px 500px 0 0;
    height: 50vh;
    max-height: 100%;
    object-fit: cover;
    width: 100%;
}

#top .links-out {
    margin-top: 10%;
}

#top::after {
    background-color: var(--blue);
    bottom: -20em;
    content: "";
    display: block;
    height: 70vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

/*-----HOMEPAGE - ABOUT-----*/

#about {
    color: var(--white);
    display: grid;
    grid-row: 2;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    place-items: center;
    position: relative;
}

#about h2 {
    font-size: clamp(2rem, 8vh, 4rem);
    grid-row: 1;
    padding: 3rem 2.5rem 0 2.5rem;
    text-align: center;
}

#about .bio {
    background-color: var(--lightblue);
    font-size: 1rem;
    grid-row: 2;
    height: 80%;
    margin: 0 2.5rem;
    max-height: fit-content;
    overflow: auto;
    padding: 1rem 1.75rem;
}

#about figure {
    border: 5px solid var(--blue);
    border-radius: 0 0 500px 500px;
    box-sizing: border-box;
    display: none;
    height: 45vh;
    margin: 1.5rem auto;
    width: 27rem;  
}

#about img {
    border-radius: 0 0 500px 500px;
    box-sizing: border-box;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/*-----HOMEPAGE - WORK-----*/

#work {
    align-items: center;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-row: 3;
    justify-content: center;
    position: relative;
}

#work h2 {
    font-size: 2em;
}

#featured-work {
    box-sizing: border-box;
    display: flex;
    gap: 3rem;
    grid-row: 2;
    height: 70%;
    max-height: 40rem;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 2rem;
    place-items: center;
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory;
    width: 18rem;
}

.port-card {
    align-self: center;
    align-items: center;
    border: 2px solid var(--blue);
    display: flex;
    flex: none;
    flex-direction: column;
    height: 95%;
    max-height: 34rem;
    scroll-snap-align: center;
    width: 17rem;
    z-index: 2;
}

.port-card h3 {
    font-size: 1rem;
    padding: .75rem 0;
    text-align: center;
}

.port-card img {
    border: 1px solid var(--blue);
    height: 10rem;
    object-fit: cover;
    transition: .3s;
    width: 15rem;
}

.port-card p {
    color: var(--black);
    height: 100%;
    overflow: auto;
    margin: .5rem;
    text-align: left;
    width: 15rem;
    z-index: 2;
}

.port-card .tags {
    bottom: .5rem;
    font-size: .8rem;
    font-weight: 700;
    height: fit-content;
    justify-self: end;
    padding: .75rem 0;
    width: 15rem;
}

#arrows {
    position: absolute;
    width: 100%;
}

.arrow {
    color: var(--blue);
    font-family: funkydori;
    font-size: 3em;
    padding: 2rem 1rem;
    transition: .3s;
    user-select: none;
    -ms-user-select: none; /* IE 10+ */
    -webkit-user-select: none; /* Safari */
}

#left {
    float: left;
}

#right {
    float: right;
}

/*JS class - arrow fades when it can no longer scroll*/

.arrow-not-used {
    opacity: .2;
}

/*-----HOMEPAGE - CONTACT-----*/

#contact {
    display: flex;
    flex-direction: column;
    gap: 2rem !important;
    grid-row: 4;
    place-content: center;
    place-items: center;
    position: relative;
}

.contact-blurb {
    background-color: var(--gray);
    color: var(--blue);
    font-size: clamp(1rem, 4vw, 1.8rem);
    font-weight: 700;
    padding: 1.75rem;
    padding-bottom: .5rem;
    text-align: center;
    width: 70%;
}

.contact-blurb p {
    line-height: 1.5em;
}

.contact-blurb p a {
    color: var(--black);
    transition: .3s;
}

.contact-blurb p a:hover {
    color: var(--white);
}

#contact .links-out a {
    margin: 1rem;
}

/*-----FULL PORTFOLIO-----*/

#portfolio {
    align-items: center;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    gap: 2rem 4rem;
    padding-top: 6rem;
    max-width: 65rem;
}

#portfolio img:hover {
    filter: grayscale(100%);
}

.info {
    color: #00000096;
    flex-basis: 100%;
    font-size: .9rem;
    font-weight: 700;
    margin-top: -1rem;
    text-align: center;
}

#portfolio h1 {
    font-size: 2em;
    margin-top: 1rem;
}

#portfolio .port-card {
    height: 28rem;
    margin-bottom: 2rem;
}

/*---PROJECT PAGE---*/

#details {
    background-color: var(--white);
    box-sizing: border-box;
    color: var(--black);
    font-family: neue-haas-grotesk-display, sans-serif;
    height: fit-content;
    letter-spacing: 1px;
    min-height: 100%;
    padding: 1rem 2rem;
}

#details span a {
    color: var(--blue);
    display: block;
    font-weight: 700;
    padding: 1rem 0;
    text-decoration: none;
    transition: .3s;
    width: fit-content;
}

#details span a:hover {
    opacity: .5;
}

#details h1 {
    font-size: 2rem;
    text-align: center;
}

.date {
    display: block;
    font-size: .8em;
    font-weight: 700;
    margin: 1rem 0;
    text-transform: uppercase;
}

#details p {
    margin: 1rem 0;
}

#details .buttons {
    text-align: center;
    white-space: nowrap;
}

#details .wide-button:hover {
    background-color: var(--gray);
    border: 1px solid var(--gray);
    color: var(--white);
}

.tags {
    display: block;
    font-size: .9em;
    font-weight: 700;
}

#overview {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: .9rem;
    height: fit-content;
    margin: 0 auto;
    max-width: 700px;
    padding: 1rem 2rem;
}

#overview span {
    display: block;
    margin: 0 auto 1.5rem auto;
}

#overview h2 {
    color: var(--blue);
    font-size: 3em;
    padding: 1rem 0;
}

#overview h3 {
    padding: 0 0 1rem 0;
}

#overview p {
    margin-bottom: 2rem;
}

#overview figure {
    text-align: center;
}

#overview figure img {
    background-color: white;
    border: 2px solid var(--blue);
    margin-bottom: 1rem;
    max-width: 100%;
    width: 40rem;
}

.embed {
    margin-bottom: 1rem;
}

#overview figure img:hover {
    cursor: zoom-in;
}

#overview figure figcaption {
    color: #00000096;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0 2rem 0;
    text-align: center;
}

/*for images that need padding*/

.one img {
    box-sizing: border-box;
    padding: 2rem;
}

/*for images displayed two across*/

.two {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.two img {
    margin: 1%;
    max-width: 44% !important;
    width: 20rem;
}

.two figcaption {
    flex-basis: 100%;
}

/*for images displayed three across*/

.three {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.three img {
    margin: 1%;
    max-width: 28% !important;
    width: 20rem;
}

.three figcaption {
    flex-basis: 100%;
}

/*for longer images*/

.four {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30rem;
}

.work-container {
    position: absolute;
    width: 100%;
}

 iframe {
    background-color: #ffffff;
    border: 2px solid var(--blue);
    height: 32rem;
    margin-bottom: 1rem;
    width: 15rem;
}

.fullscreen {
    background-color: #000000d5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: zoom-out;
    display: block;
    height: 100%;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
}

footer {
    background-color: var(--blue);
    box-sizing: border-box;
    bottom: 0rem;
    display: flex;
    height: 10rem;
    place-content: center;
    place-items: center;
    position: relative;
}

footer .links-out .button {
    background-color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 100%;
    display: inline-flex;
    height: 4rem;
    margin: 0 .6rem;
    place-content: center;
    place-items: center;
    transition: .3s;
    width: 4rem;
}

footer .links-out .button img {
    height: 2.5rem;
    width: 2.5rem;
    transition: .3s;
}



/*MEDIA - SHORT MOBILE SCREENS*/

@media (max-height: 737px) {
    
    /*HOMEPAGE - TOP*/
    
    #top {
        gap: 10px;
    }

    #top #title {
        margin-top: -4rem;
    }

    #top .links-out {
        margin-top: 1rem;
    }

    /*HOMEPAGE - WORK*/
    


    @media (max-height: 575px) {

        #work {
            gap: .2rem;
        }
    
        #featured-work {
            width: 15rem;
        }
    
        #featured-work .port-card {
            width: 14rem;
        }
    
        #featured-work .port-card img,
        #featured-work .port-card p,
        #featured-work .port-card .tags {
            width: 13rem;
        }
    
        #featured-work .port-card img {
            height: 6rem;
        }

        #work h2 {
            font-size: 1.5em;
        }

        #work .arrow {
            padding: 2rem 1rem;
        }

    }

    /*HOMEPAGE - CONTACT*/


}

@media (min-width: 600px) {

    /*HOMEPAGE - ABOUT*/

    #about {
        grid-template-rows: 18% 40% 40%;
    }

    #about h2 {
        font-size: clamp(1rem, 9vw, 3rem);
        height: 40%;
        padding: 10rem 0;
        place-self: center;
    }

    #about figure {
        border: 7px solid var(--gray);
        display: block;
        grid-row: 2;
        height: 90%;
        max-width: 18rem;
        place-self: center;
    }

    #about .bio {
        grid-row: 3;
    }

    /*HOMEPAGE - wORK*/

    #work h2 {
        align-self: center;
        font-size: clamp(2em, 8vw, 2em);
    }

    #work .arrow {
        font-size: 4em;
        padding: 2rem 3rem;
    }

}

@media (min-width: 600px) and (min-height: 800px) {

    /*HOMEPAGE - TOP*/

    #top {
        flex-direction: column;
        gap: 0px;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }

    #top .content {
        margin-top: -1rem;
    }

    #top h1 {
        font-size: clamp(4em, 20vw, 9em);
    }

    #top #title {
        font-size: clamp(2em, 20vw, 3em);
        margin-top: -20%;
    }

    #top .links-out {
        margin: 5% 0;
    }

    #top .links-out .button {
        margin: 0 .8rem;
    }

    #top figure {
        width: 28rem;
    }

    /*HOMEPAGE - ABOUT*/

    #about {
        grid-template-rows: 18% 40% 40%;
    }

    #about h2 {
        font-size: clamp(1rem, 9vw, 3.8rem);
        height: 40%;
        padding: 10rem 0;
        place-self: center;
    }

    #about figure {
        border: 7px solid var(--gray);
        display: block;
        grid-row: 2;
        height: 100%;
        max-width: 25rem;
        place-self: center;
    }

    #about .bio {
        grid-row: 3;
        margin: 0 4rem;
        max-height: 15rem;
        place-self: center;
    }

    /*HOMEPAGE - wORK*/

    #work h2 {
        align-self: center;
        font-size: clamp(2em, 8vw, 3em);
    }

}

@media (min-width: 800px){

        /*NAVIGATION*/

        #hamburger {
            display: none;
        }
    
        #menu {
            margin: 0;
            backdrop-filter: none;
            position: fixed;
            right: 2rem;
            top: 0;
            width: fit-content;
            z-index: 5;
        }
    
        #menu .menu-item {
            background-color: var(--blue);
            border: 1px solid var(--blue);
            border-radius: 50px;
            color: var(--white);
            display: inline-block;
            font-size: 1.5rem;
            height: fit-content;
            padding: 5px;
            text-align: center;
            width: 8rem;
            margin: 1.8rem 0 1.5rem 2rem;
        }

        #menu .menu-item:hover {
            background-color: var(--white);
            border: 1px solid var(--white);
            color: var(--gray);
        }
    
        #menu .links-out {
            display: none;
        }

        #work {
            justify-content: space-evenly;
        }

        @media (min-width: 800px) and (min-height: 1000px) {

            #work #featured-work {
                height: 46rem !important;
                max-height: 50rem !important;
                width: 34rem;
            }

            #featured-work .port-card {
                gap: 1rem;
                box-sizing: border-box;
                max-height: 50rem;
                height: 45rem;
                padding: 1rem 2rem;
                width: 30rem;
            }

            #featured-work .port-card img,
            #featured-work .port-card p,
            #featured-work .port-card .tags {
                width: 26rem;
            }
            
            #featured-work .port-card img {
                height: 17rem;
            }
        }
        
        .arrow-not-used {
            opacity: 1;
        }

        /*PORTFOLIO PAGE*/

        #portfolio {
            box-sizing: border-box;
            color: var(--blue);
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            height: fit-content;
            overflow: auto;
            justify-content: center;
            margin: 0 auto;
            padding: 6rem 0 2rem 0;
            width: 100%;
        }

        .info {
            padding-top: .5rem;
        }
        
        #portfolio h1 {
            font-size: 2em;
            padding-top: 0;
            margin: 1rem 0 -.5rem 0;
            text-align: center;
            width: 100%;
        }
        
        #portfolio .port-card {
            height: 28rem;
            width: 18rem;
            max-width: 18rem;
            min-width: 18rem;
        }
        
}

@media (max-height: 600px) and (orientation: landscape) {
    
    html {
        scroll-snap-type: none !important;
    }
    
    #head {
        position: absolute;
    }

    #head + #menu {
        position: absolute;
    }

    #home-grid section:nth-child(2),
    #home-grid section:nth-child(3),
    #home-grid section:nth-child(4) {
        height: 100vh;
    }

    #home-grid .anchor {
        top: 0;
    }

    #about {
        padding-top: 0 !important;
    }
}

@media (min-width: 1025px) and (orientation: landscape) {

    /*GENERAL*/

    html {
        scroll-snap-type: y proximity;
    }

    #home-grid section {
        scroll-snap-align: end;
    }
    
    /*HEADER*/

    header {
        padding: 0 4rem;
    }

    #block-name {
        background-color: var(--gray);
        height: 5rem;
        position: absolute;
        top: 0;
        width: 40rem;
        z-index: 5;
    }

    /*NAVIGATION*/

    #menu {
        right: 4rem;
    }
    
    /*HOMEPAGE - GENERAL*/

    .anchor2 {
        display: block;
        top: 0rem !important;
        visibility: hidden;
    }
    
    /*HOMEPAGE - TOP*/

    #top {
        gap: 0;
        grid-template-columns: 45% auto;
        grid-template-rows: 100%;
    }

    #top .media {
        grid-column: 1;
        grid-row: 1;
        height: calc(100% + 6rem);
        margin-top: -4rem;
        z-index: 5;
        justify-self: center;
    }

    #top figure {
        max-width: 35vw;
        min-width: 35vw;
        width: 90%;
    }

    #top figure img {
        height: 100%;
    }

    #top .content {
        grid-column: 2;
        grid-row: 1;
        text-align: right;
        margin-right: 4rem;
        align-self: center;
        margin-bottom: 30vh;
    }

    #top h1 {
        font-size: clamp(2rem, 9vw, 8rem);
        height: 13rem;
    }

    #top #title {
        font-size: clamp(1.8rem, 3vw, 2.5rem);
        margin-top: 0;
    }

    #top::after {
        bottom: 0;
        height: 27vh;
    }

    @media (max-height: 655px) {
        #top::after {
            display: none;
        }

        #top .content {
            margin-bottom: 10vh;
        }
    }

    /*HOMEPAGE - ABOUT*/

    #about {
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 80%;
        padding-top: 6rem;
    }

    #about figure {
        grid-column: 2;
        grid-row: 1 / span 2;
        height: 80%;
        min-width: 60%;
    }

    #about h2 {
        align-self: end;
        font-size: clamp(2rem, 4vw, 5rem);
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
        padding: 0;
        text-align: right;
        width: fit-content;
    }

    #about .bio {
        align-self: center;
        box-sizing: border-box;
        font-size: 1.3em;
        grid-column: 1;
        grid-row: 2;
        justify-self: end;
        margin: 0;
        padding: 1rem 2rem;
        text-align: right;
        width: 85%;
    }
    
    /*HOMEPAGE - WORK*/

    #work {
        justify-content: center;
    }
    
    #work h2 {
        margin-top: 1rem;
    }

    #work #featured-work {
        height: 26rem !important;
        width: fit-content;
    }

    #featured-work .port-card {
        gap: 0;
        height: 95%;
        padding: 0;
        width: 17rem;
    }

    #featured-work .port-card img,
    #featured-work .port-card p,
    #featured-work .port-card .tags {
        width: 15rem;
    }

    #featured-work .port-card img {
        height: 10rem;
    }

    #arrows {
        display: none;
    }

    /*WORK*/

    .work-container {
        display: grid;
        grid-template-columns: 25vw 1fr;
        grid-template-rows: auto auto;
    }

    #details {
        box-sizing: border-box;
        grid-column: 1;
        grid-row: 1 / span 2;
        height: calc(100vh - 6rem);
        overflow: auto;
        padding: 1rem 2rem;
        position: fixed;
        width: 25vw;
    }

    #details h1 {
        text-align: left;
    }

    #details .button2 {
        display: block;
        margin: 2rem auto;
    }

    #details .tags {
        padding: 0 1rem 0 0;
    }

    #overview {
        grid-column: 2;
        grid-row: 1;
        height: 100%;
        max-width: 650px;
        width: 100%;
    }

    footer {
        grid-column: 2;
        grid-row: 2;
    }

}

@media (min-width: 1325px) and (orientation: landscape) {
    
    /*NAVIGATION*/

    #menu .menu-item {
        margin-left: 2rem;
        width: 11rem;
    }

    /*HOMEPAGE - TOP*/

    #top .media {
        justify-self: end;
    }

    /*WORK*/

    #overview {
        max-width: 750px;
    }
}
